<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krakostop - wyścig autostopowiczów</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/style-responsive.css" rel="stylesheet">
</head>

<body>
    <div id="login-page">
        <div class="container">
            <div class="form-major">
                <h2 class="form-heading"><a href=@Url.Action("Index", "Home")><img src="~/Images/logo.png" /></a></h2>
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="../../assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../../assets/img/login-bg.jpg", { speed: 500 });
    </script>
</body>
</html>