
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>Manager</h3>
<hr />
<h5>Pary</h5>
Ogólnie: <b>@ViewBag.PairsCount</b><br />
Zapłacono: <b>@ViewBag.PairsPayments</b><br />

<h5>Autokar</h5>
Ogólnie: <b>@ViewBag.AutocarCount</b><br />
Zapłacono: <b>@ViewBag.AutocarPayments</b><br />

<h5>Parozłączka</h5>
Ogólnie: <b>@ViewBag.JoinersCount</b><br />
Aktywni: <b>@ViewBag.JoinersAct</b><br />
Średnia wieku: <b>@ViewBag.Average</b><br />

<h5>Osoby</h5>
Koszulka XS: <b>
    @ViewBag.XS
</b><br />
Koszulka S: <b>
    @ViewBag.S
</b><br />
Koszulka M: <b>
    @ViewBag.M
</b><br />
Koszulka L: <b>
    @ViewBag.L
</b><br />
Koszulka XL: <b>
    @ViewBag.XL
</b><br />
Koszulka XXL: <b>@ViewBag.XXL</b><br />



